{% extends "../base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <!-- 게시글 보기 -->
        <div class="card mb-3">
            <h5 class="card-header text-primary">
                <strong>{{ post.title }}</strong>
            </h5>
            <div class="card-body">
                <div class="mb-3 text-muted">
                    글쓴이: {{ post.created_by.first_name }} | 등록일시: {{ post.created_at | date:"Y-m-d H:i" }} | 수정일시: {{ post.updated_at | date:"Y-m-d H:i" }}
                </div>
                {% if post.filename %}
                <div class="mb-3 text-muted">
                    첨부 파일: <a href="{% url 'posts:download' post.id %}">{{ post.original_filename }}</a>
                </div>
                {% endif %}
                <div class="mb-3">
                    {{ post.content | safe }}
                </div>
            </div>
        </div>
        <div>
            <a href="{% url 'posts:list' %}" class="btn btn-primary">목록</a>
            {% if post.created_by == request.user %}
            <a href="{% url 'posts:update' post_id=post.id %}" class="btn btn-warning">수정</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제</button>
            {% endif %}
        </div>
        <!--// 게시글 보기 -->
    </div>
</div>

<!-- 삭제 모달 -->
{% if post.created_by == request.user %}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteForm" action="{% url 'posts:delete' post_id=post.id %}" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-danger" id="deleteModalModalLabel">
                        <strong>게시글 삭제</strong>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <p class="text-danger">삭제된 데이터는 복구할 수 없습니다.</p>
                        <p>게시글을 삭제하시겠습니까?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-danger">게시글 삭제</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">삭제 취소</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
<!-- 삭제 모달 -->
{% endblock %}
