{% extends "../base.html" %}

{% block style %}{% endblock %}

{% block title %}게시글 수정{% endblock %}

{% block content %}
<!-- 게시글 수정 -->
<div class="card">
    <div class="card-body">
       [default_if_none:'' }}">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea rows="10" id="content" name="content" class="form-control" placeholder="내용을 입력하세요.">{{ form.content.value|default_if_none:'' }}</textarea>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">글쓴이</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="글쓴이를 입력하세요." value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="mb-3">
                <label for="passwd" class="form-label">비밀번호</label>
                <input type="password" id="passwd" name="passwd" class="form-control" placeholder="비밀번호를 입력하세요.">
            </div>
            [[MARK](MARK]] <form id="updateForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력하세요." value="{{ form.title.value){% if board.filename %}
                <div class="mb-3"> 
                    <div class="mb-2">  
                        <span>현재 파일: <a href="/board/{{ board.id }}/download">{{ board.original_filename }}</a></span>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="deleteFile" id="deleteFile" value="true">
                        <label class="form-check-label text-danger" for="deleteFile">
                            파일 삭제
                        </label>
                    </div>
                </div>
            {% endif %}
            <div class="mb-3">
                <label class="form-label">첨부 파일</label>
                <input type="file" class="form-control" id="uploadFile" name="uploadFile" accept="*/*">
                <small class="form-text text-muted">새 파일을 선택하면 기존 파일은 자동으로 삭제됩니다.</small>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">게시글 수정</button>
                <a href="{% url 'board:read' board_id=board.id %}" class="btn btn-danger">수정 취소</a>
            </div>
        </form>
    </div>
</div>
<!--// 게시글 수정 -->
{% endblock %}

{% block script %}{% endblock %}
