{% extends "../base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <!-- 게시글 수정 -->
        <form id="updateForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card mb-3">
                <div class="card-header">
                    <span class="text-danger">*</span> 표시는 필수항목입니다.
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="title" class="form-label">제목 <span class="text-danger">*</span></label>
                        <input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력하세요." value="{{ form.title.value|default_if_none:'' }}">
                        {% if form.title.errors %}
                        <div class="form-text text-danger">
                            {{ form.title.errors.0 }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">내용 <span class="text-danger">*</span></label>
                        <textarea rows="10" id="content" name="content" class="form-control" placeholder="내용을 입력하세요.">{{ form.content.value|default_if_none:'' }}</textarea>
                        {% if form.content.errors %}
                        <div class="form-text text-danger">
                            {{ form.content.errors.0 }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">글쓴이 <span class="text-danger">*</span></label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="글쓴이를 입력하세요." value="{{ form.username.value|default_if_none:'' }}">
                        {% if form.username.errors %}
                        <div class="form-text text-danger">
                            {{ form.username.errors.0 }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">비밀번호 <span class="text-danger">*</span></label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요.">
                        {% if form.password.errors %}
                        <div class="form-text text-danger">
                            {{ form.password.errors.0 }}
                        </div>
                        {% endif %}
                    </div>
                    {% if form.instance.filename %}
                    <div class="mb-3">
                        <div class="mb-2">  
                            <span>기존 파일: <a href="{% url 'posts:download' form.instance.id %}">{{ form.instance.original_filename }}</a></span>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="deleteFile" id="deleteFile" value="false">
                            <label class="form-check-label text-danger" for="deleteFile">
                                파일 삭제
                            </label>
                        </div>
                    </div>
                    {% endif %}
                    <div>
                        <label for="uploadFile" class="form-label">첨부 파일</label>
                        <input type="file" class="form-control" id="uploadFile" name="uploadFile" accept="image/*">
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">수정</button>
                
            </div>
        </form>
        <!--// 게시글 수정 -->
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        // 게시글 폼 검증
        $('#updateForm').submit(function(event) {
            event.preventDefault();

            if ($('#title').val() == '') {
                alert('제목을 입력하세요.');
                $('#title').focus();
                return false;
            }

            if ($('#content').val() == '') {
                alert('내용을 입력하세요.');
                $('#content').focus();
                return false;
            }

            if ($('#username').val() == '') {
                alert('작성자를 입력하세요.');
                $('#username').focus();
                return false;
            }

            if ($('#password').val() == '') {
                alert('비밀번호를 입력하세요.');
                $('#password').focus();
                return false;
            }

            return true;
        });
    });
</script>
{% endblock %}
